[submodule "esp-now-serial-bridge"]
	path = esp-now-serial-bridge
	url = https://github.com/BerranRemzi/esp-now-serial-bridge
[submodule "jerry-314"]
	path = jerry-314
	url = https://github.com/BerranRemzi/jerry-314
[submodule "HomeSecurity"]
	path = HomeSecurity
	url = https://github.com/BerranRemzi/HomeSecurity
[submodule "HeatGun8018"]
	path = HeatGun8018
	url = https://github.com/BerranRemzi/HeatGun8018
